<div class="card border-0">
  <img src="http://placehold.it/820x320" class="card-img-top" alt="...">
  <div class="card-body">
    <div class="row justify-content-between mx-0">
      <h5 class="card-title">{{ product.name }}</h5>
      <h5 class="text-muted">${{ product.price }}</h5>
    </div>
    <p>{{ product.description }}</p>
    <app-stars [rate]="product.rate"></app-stars>
  </div>
</div>
<br>
<br><br><br>
<div>
  <button class="btn btn-success" style="margin: 1.25rem" (click)="isCommentShown = !isCommentShown">
    <fa-icon [icon]="faEdit"></fa-icon>
    Write A
    Review</button>
  <div style="padding-left: 1.25rem; padding-bottom: 1.25rem" *ngIf="isCommentShown">
    <app-stars [(rate)]="newRating" [readonly]="false"></app-stars>
    <textarea class="form-control" rows=5 [(ngModel)]="newComment" style="margin-top: 1.25rem; width: 100%"></textarea>
    <button class="btn btn-primary mt-3" type="submit" (click)="addComment()">Submit</button>
  </div>

  <h2 class="header ml-0" style="padding-left: 1.25rem">Review</h2>
  <div class="card border-0" *ngFor="let comment of comments">
    <div class="card-body">
      <div class="row justify-content-between mx-0">
        <h5 class="header card-title">{{ comment.user }}</h5>
        <p class="card-text">{{ comment.timeStamp }}</p>
      </div>
      <app-stars [rate]="comment.rating"></app-stars>
      <p class="card-text">{{ comment.content }}</p>

    </div>
  </div>
</div>
