<!-- d-flex to make stars and digital rate shown in the same line
     like what class row does -->
<div class="d-flex mx-0 ">
  <!-- d-flex to make all the stars show in the same line -->
  <div class="d-flex">
    <div *ngFor="let star of stars;">
      <fa-icon *ngIf="star == 0" [icon]="faStarEmpty"></fa-icon>
      <fa-icon *ngIf="star == 1" [icon]="faStar"></fa-icon>
      <fa-icon *ngIf="star == 2" [icon]="faStarHalf"></fa-icon>
    </div>
  </div>
  <div class="ml-1 align-self-end">{{ rate }}</div>
</div>
<fa-icon [icon]="['fas','star']"></fa-icon>
